Repository elastic/apm-agent-ruby, pull requests merged in 2022-01, with the labels that each got.

#1221 Test against latest grape minor
  .ci/.jenkins_exclude.yml
  .ci/.jenkins_framework.yml
Labels: agent-ruby

#1219 Neutral branch
  .ci/.jenkins_main_framework.yml
  .ci/Jenkinsfile
  .ci/jobs/apm-agent-ruby-mbp.yml
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  README.md
  Rakefile
Labels: automation, agent-ruby

#1224 Fix broken doc links in APM ruby agent docs
  docs/api.asciidoc
  docs/configuration.asciidoc
  docs/introduction.asciidoc
  docs/log-correlation.asciidoc
  docs/upgrading.asciidoc
Labels: agent-ruby

#1226 [3.x] Doc link fixes
  docs/api.asciidoc
  docs/introduction.asciidoc
  docs/log-correlation.asciidoc
  docs/upgrading.asciidoc
Labels: agent-ruby, Team:Docs

#1227 [2.x] pin docs to 7.15
  docs/index.asciidoc
Labels: Team:Docs
