Repository elastic/apm-agent-ruby, pull requests merged in 2025-03, with the labels that each got.

#1515 [docs] Add the new docs CI checks
  .github/workflows/docs-build.yml
  .github/workflows/docs-cleanup.yml
Labels: agent-ruby, Team:Docs

#1525 Updates navigation titles for release notes
  docs/release-notes/known-issues.md
Labels: Team:Docs

#1526 [docs] Miscellaneous docs clean up
  docs/docset.yml
  docs/reference/api-reference.md
  docs/reference/configuration.md
  docs/reference/images/dynamic-config.svg
Labels: docs, agent-ruby, Team:Docs
